*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  background-color: #054d56;
  margin-bottom: 30px;
  line-height: 70px;
  padding-left: 25px;
  color: rgb(145, 144, 144);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100vh - 120px);
}
.item {
  background-color: #9cc6d8;
  height: 260px;
  width: 280px;
  margin: 1rem 4rem;
  border-radius: 16px;
  padding: 1rem;
  padding-top: 1.5rem;
}
.footer{
  color: rgb(145, 144, 144);
  background-color: #054d56;
  line-height: 60px;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  
}::-webkit-textfield-decoration-container